/*variables*/
$smoke: #999;
ul.list {
  li {
    border-bottom: 1px solid $smoke;
    padding: 15px;
    list-style-type: none;
  }
}

.contacts {
  li {
    cursor: pointer;
    .icon-delete {
      float: right;
      padding-right: 15px;
    }
  }
}

label {
  font-weight: bold;
}

.icon-delete {
  font-weight: bold;
}

.hidden {
  display: none;
}
